[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[lints]
workspace = true

[dependencies]
rustdoc-types = "0.56.0"
serde_json = "1.0"
clap = { version = "4.5", features = ["derive"] }
libruskel = { workspace = true }
