[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[lints]
workspace = true

[dependencies]
rustdoc-types = { workspace = true }
serde_json = { workspace = true }
clap = { workspace = true }
libruskel = { workspace = true }
